.story-card {
  background-color: #fff;
  border: 2px solid #e0e0e0;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 95%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: left;
  transition: transform 0.2s ease-in-out;
  min-width: 300px;
}

.course-card:hover {
  border: 1px solid #000000;
}

.card-header {
  display: flex;
  flex-direction: row !important;
}

.card-header img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 6px;
}

.feedback-container {
  max-height: 150px; /* Limit the height to fit within the card */
  overflow-y: auto; /* Enable vertical scroll if content overflows */
  flex: 1;
  padding: 25px; /* Optional padding */
  margin-bottom: 10px;
}
.feedback-container p {
  font-size: 14px;
}
.card-footer {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}
