* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  padding: 20px 250px;
}

.container-cardItem {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  margin-top: 50px;
  align-items: center;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.container-card button {
  background-color: #4caf50;
  color: white;
  padding: 8px 2px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 164px;
}

/* Responsive Tasarım */
@media (max-width: 1024px) {
  .course-card {
    width: 20%; /* Tablet ve küçük ekranlar için kart genişliği */
  }
}

@media (max-width: 768px) {
  .course-card {
    width: 50%; /* Küçük ekranlarda da 3 kart göstermek için genişliği aynı bırakıyoruz */
  }
}

@media (max-width: 480px) {
  .course-card {
    width: 100%; /* Çok küçük ekranlarda kartların tam genişlikte görünmesini sağlarız */
  }
}

/*Neden techcareer */
.why-techcareer {
  padding: 50px 250px;
}
.why-techcareer h2 {
  font-size: 28px;
  font-weight: 600;
}

.why-techcareer-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
  margin-top: 50px;
}
.why-techcareer-item {
  width: 30%;
  min-width: 300px;
}

.why-techcareer-item h3 {
  font-weight: 200;
  letter-spacing: 1px;
  margin-bottom: 8px;
  word-break: break-word;
}

/*kariyer rehberi*/
.career-guide {
  padding: 50px 250px;
  background-color: #efffeb;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.career-guide-content {
  max-width: 60%;
}
.career-guide h2 {
  font-size: 30px;
  font-weight: 600;
}

.career-guide h4 {
  font-size: 22px;
  font-weight: 600;
  color: #00c26d;
}

.career-guide p {
  margin-top: 8px 0;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
}

.career-guide button {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 164px;
  font-size: 12px;
}

.career-guide-image {
  width: 50%;
  min-width: 300px;
  height: auto;
}

.storycardSection {
  padding: 50px 250px;
  background-color: #f6f6f6;
}

.storycardSection h2 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}

.why-join-us {
  padding: 40px 20px;
  background-color: #fff;
}

.why-join-us-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 10px;
  padding: 48px 24px;
  gap: 10px; /* Elemanlar arasındaki boşluk */
}

.join-us-item {
  padding: 20px;
  width: 30%;
  min-width: 300px;
  text-align: center;
  transition: transform 0.3s ease;
}

.join-us-icon {
  width: 150px;
  height: 150px;
  margin-bottom: 15px;
}

.join-us-item h3 {
  margin-bottom: 10px;
}

.join-us-item p {
  text-align: left;
  font-size: 16px;
  line-height: 1.5;
}
.apply-now-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 14px;
  color: #4caf50;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Container styling */
.techcareer-contact-info {
  padding: 40px 20px;
  background-color: #293349;
  display: flex;
  justify-content: center;
  align-items: center;
}

.techcareer-contact-info-content {
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.contact-info-text {
  flex: 1;
}

.contact-info-text h2 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #ffffff;
}

.contact-info-text p {
  margin-bottom: 15px;
  line-height: 1.6;
  color: #c7c7c7;
}

.techcareer-contact-input {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 600px;
}

.techcareer-contact-input input {
  padding: 12px 16px;
  margin-left: 50px;
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  font-size: 16px;
}

.techcareer-contact-input input::placeholder {
  color: #aaa; /* Placeholder color */
}

.techcareer-contact-button {
  padding: 12px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.techcareer-contact-button:hover {
  background-color: #218838; /* Darker green on hover */
}

.techcareer-contact-other {
  font-weight: bold;
  color: #2ecc71;
  margin-top: 10px;
}

.techcareer-contact-details {
  color: #f6f6f6;
  font-size: 14px;
}

.contact-info-image {
  margin-top: 20px;
  text-align: center;
}

.contact-info-image img {
  max-width: 150px;
  height: auto;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .why-techcareer {
    padding: 0;
    text-align: center;
  }
  .techcareer-contact-info-content {
    flex-direction: column;
    align-items: center;
  }

  .contact-info-text,
  .contact-info-image {
    max-width: 100%;
  }
}

@media (max-width: 1024px) {
  .career-guide {
    padding: 0;
    background-color: #efffeb;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .career-guide-content {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .storycardSection {
    padding: 20px 0px;
    text-align: center;
  }
  .cardSectionStory {
    width: 90%;
    margin: 0 auto;
  }
  .container-card {
    padding: 0px;
  }
}
