.slider-container {
  background-color: #f0f4f8; /* Light gray background */
  padding: 2rem; /* Padding around the slider */
  border-radius: 1rem; /* Rounded corners */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Shadow effect */
}

.slider-container img {
  padding: 50px;
  margin-left: 50px;
  align-items: center;
  border-radius: 0.5rem;
  width: 90%; /* Full width */
  height: 500px; /* Full height */
  object-fit: cover; /* Cover the entire area */
}

.text-center {
  text-align: center; /* Center text */
}

.bg-green-500 {
  background-color: #38a169; /* Green button background */
}

.text-dark-blue {
  color: #2c5282; /* Dark blue text */
}

.text-gray-700 {
  color: #4a5568; /* Gray text */
}
