* {
  margin: 0;
  padding: 10px 0px 0px 0px;
}
.slider-container {
  background-color: #f0f4f8;
}

.slider-content {
  position: relative;
  padding: 50px;
}

.slider-doticon {
  position: absolute;
  top: 40px;
  left: 100px;
  z-index: -10;
}

.slider-kesikicon {
  position: absolute;
  top: 25px;
  right: 85px;
  z-index: -10;
}
.slider-container img {
  margin: 0px auto;
  align-items: center;
  border-radius: 0.5rem;
  width: 90%; /* Full width */
  object-fit: contain; /* Cover the entire area */
}

.text-center {
  text-align: center; /* Center text */
}

.bg-green-500 {
  background-color: #38a169; /* Green button background */
}

.text-dark-blue {
  color: #2c5282; /* Dark blue text */
}

.text-gray-700 {
  color: #4a5568; /* Gray text */
}

@media screen and (max-width: 768px) {
  .sliderdoticon {
    display: none;
  }
  .sliderkesikicon {
    display: none;
  }
}
