.container-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.course-card {
  display: flex;
  flex-direction: row;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.course-card h3 {
  margin: 0 0 10px;
}
.course-card p {
  margin: 0 0 20px;
}
.course-card span {
  display: block;
  margin-bottom: 10px;
  color: #888;
}
.course-card button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.course-card button:hover {
  background-color: #0056b3;
}
